$font-stack: Helvetica, Arial;
// $primary-color: #8d9c84;
$primary-color: #ffffff;
$secondary-color: #4d2222;
$font-color-1: #4d2222;
$font-color-2: #ffffff;
$gold-l: #dbb25e;
$gold-m: #907335;
$gold-d: darken(#836930, 8);
