@import "variables";
@import "globals";

.nav {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: row;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    text-align: right;
    padding-right: 20px;
}

.slide-switch {
    position: relative;
    height: 100%;
    width: 5px;
    background-color: $secondary-color;
    display: flex;
}

.handle {
    position: absolute;
    // width: 20px;
    // background-color: orange;
    touch-action: none;
    left: -10px;
    // left: 0.7em;
    // bottom: 0.5em;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 10% auto;
    background: #fff;
    box-shadow: -10px 5px 30px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transform: skewY(0deg);
    border: 1px solid $secondary-color;
    box-sizing: content-box;
}
.box::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 21px;
    width: 3px;
    height: 150%;
    background-color: $secondary-color;
    transform-origin: left bottom;
    transform: skewY(40deg);
}
.box::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;
    width: 110%;
    height: 3px;
    background: $secondary-color;
    transform-origin: top left;
    transform: skewX(45deg);
}

.handle:before,
.handle:after {
    box-sizing: border-box;
    width: 2em;
    height: 1em;
    bottom: 0.9em;
    background-color: #d5d5d5;
    border: 0.2em solid;
    border-image: linear-gradient(
            to right,
            $gold-d 10%,
            $gold-l 10%,
            $gold-m 60%,
            $gold-d 60%,
            $gold-d 80%,
            $gold-m 80%
        )
        1 1;
    box-shadow:
        0 0 0.2em black(0.1),
        0.1em 0.1em 0.1em black(0.2),
        inset 0.2em 0.2em 0.1em black(0.7);
}
.handle:before {
    left: 11%;
}
.handle:after {
    left: 54%;
}

.handle:hover {
    cursor: pointer;
}
