@import "variables";
@import "globals";

body {
  background-color: $primary-color;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  padding: 20px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
}

.split-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
